.navbar-container{
    width: 100%;
    height: 4rem;
    background: #212731;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    .material-symbols-outlined{
        display: none;
    }

   .links{
    display: none;
   }
    .search{
        background: rgb(255, 255, 255);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 16rem;
        height: 2rem;

        img{
            width: 24px;
            aspect-ratio: 1;
        }

        input{
            border: none;
            outline: none;
        }
    }

    .navbar-links{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        a{
            color: #D1D6DA;
            text-decoration: none;
            font-size: 14px;
        }
    }
}

@media (max-width: 575.98px){
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;

        .material-symbols-outlined{
            display: block;
            color: rgb(221, 221, 221);
        }

        .links{
            display: block;
        }

        
        .mob-menu{
            width: 10rem;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            flex-direction: column;
            background: #353b46;
            position: absolute;
            top: 4rem;
            right: 0;   
            
            a{
                color: #D1D6DA;
                text-decoration: none;
            }
        }
        
        .hidden{
            display: none;
        }
        
        .navbar-links{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            display: none;
        }

    }
}